
  
 /* Add a black background color to the top navigation */
 .topnav-right {
    background-color: rgb(58, 201, 58);
    overflow: hidden;
    float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.header-name h1 a {
    text-decoration: none;
    color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

header {
    justify-content: space-between;
}

header .nav-links {
    font-size: 50px;
    float: right;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body section {
    margin-top: 10vh;
}

.about p {
    font-size: 28px;
}

.header {
    border-right: 4px solid black;
}

.jumbotron {
    background-color: black;
    width: 100%;
    height: 400px;
}

.image-container img {
    border-radius: 50%;
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}


.work-item {
    background-color: blue;
    height: 300px;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.contact-list li a{
    padding: 20px 30px;
    font-weight: bold;
    font-size: 26px;
}

@media screen and (max-width: 575px) {
    .work-item {
        background-color: red;
        margin: 20px 0px;
    }
    
    .header {
        border-right: none;
        border-bottom:  4px solid black;
        text-align: center;
        margin-bottom: 8%;
    }

    .header-name {
        text-align: center;
    }

    .header-name h1 a {
        font-size: 40px;
    }

}
